{
  "logs": {
    "path": "stdout"
  },
  "lang": "en-us",
  "listener": {
    "VAD": {
      "module": "ovos-vad-plugin-silero"
    }
  }
  "hotwords": {
    "hey_mycroft_precise": {
      "listen": true
    },
    "hey_mycroft_vosk": {
      "listen": false
    },
    "wake_up": {
      "active": false
    }
  }
}
