{
  "logs": {
    "path": "stdout"
  },
  "lang": "en-us",
  "listener": {
    "VAD": {
      "module": "ovos-vad-plugin-silero"
    }
  },
  "tts": {
    "module": "ovos-tts-plugin-server",
    "ovos-tts-plugin-server": {
      "host": "https://tts.smartgic.io/mimic3"
    }
  },
  "stt": {
    "fallback_module": "",
    "module": "ovos-stt-plugin-server",
    "ovos-stt-plugin-server": {
      "url": "https://stt.openvoiceos.org/stt"
    }
  },
  "hotwords": {
    "hey_mycroft_precise": {
      "listen": true
    },
    "hey_mycroft_vosk": {
      "listen": false
    },
    "hey_mycroft_pocketsphinx": {
      "listen": false
    },
    "wake_up": {
      "active": false
    }
  }
}
