hivemind-bus-client @ git+https://github.com/JarbasHiveMind/hivemind-websocket-client.git@a7f07db862988cc2364367747a2ee57ba6d91927
hivemind-plugin-manager==0.7.1a1
hivemind-websocket-protocol @ git+https://github.com/thalovant/hivemind-websocket-protocol.git@0.2.1a3
hivemind-core==4.6.7a1
hivemind-http-protocol==0.0.2a3
hivemind-mqtt-protocol==0.1.1a1
hivemind-audio-binary-protocol==2.1.6a1
hivemind-redis-database==0.1.0a2
hivemind-intent-quota-plugin[redis] @ file:///tmp/hivemind_intent_quota_plugin-0.1.0a4-py3-none-any.whl
setuptools
