hivemind-voice-sat
hivemind-bus-client @ git+https://github.com/JarbasHiveMind/hivemind-websocket-client.git@a7f07db862988cc2364367747a2ee57ba6d91927
ovos-audio-plugin-mpv
ovos-audio-plugin-simple
ovos-classifiers
ovos-microphone-plugin-sounddevice
ovos-PHAL
ovos-PHAL-plugin-alsa
ovos-PHAL-plugin-ipgeo
ovos-stt-plugin-chromium
ovos-tts-plugin-polly
ovos-vad-plugin-webrtcvad
ovos-ww-plugin-openwakeword
ovos-ww-plugin-precise-lite
