git+https://github.com/JarbasHiveMind/HiveMind-voice-sat.git
git+https://github.com/JarbasHiveMind/hivemind_websocket_client.git
ovos-audio[extras]
ovos-audio-plugin-simple
ovos-classifiers
ovos-microphone-plugin-alsa
ovos-microphone-plugin-sounddevice
ovos-PHAL
ovos-stt-plugin-server
ovos-vad-plugin-silero
ovos-ww-plugin-openwakeword
ovos-ww-plugin-pocketsphinx
ovos-ww-plugin-precise-lite
poorman-handshake
