git+https://github.com/JarbasHiveMind/HiveMind-voice-sat.git
git+https://github.com/JarbasHiveMind/hivemind_websocket_client.git
ovos-audio-plugin-simple
ovos-classifiers
ovos-microphone-plugin-sounddevice
ovos-PHAL
ovos-PHAL-plugin-alsa
ovos-PHAL-plugin-ipgeo
git+https://github.com/OpenVoiceOS/ovos-stt-plugin-chromium.git
git+https://github.com/OpenVoiceOS/ovos-tts-plugin-polly.git
ovos-vad-plugin-webrtcvad
ovos-ww-plugin-openwakeword
ovos-ww-plugin-precise-lite
